@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ROOT */

:root {
  /* COLORS */

  /* Primary */

  --Pink: hsl(322, 100%, 66%);

  /* Neutral */

  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(209, 11%, 55%);

  /* FONT FAMILIES */

  --ff-open-sans: "Open Sans", serif;
  --ff-poppins: "Poppins", serif;

  /* FONT WEIGHTS */

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-xtr-bold: 700;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--ff-open-sans);
  font-size: 18px;
}

h1 {
  font-family: var(--ff-poppins);
  font-size: 1.35em;
  color: var(--Very-Dark-Cyan);
  text-align: center;
}

h2 {
  font-family: var(--ff-poppins);
  font-size: 1.11em;
  font-weight: var(--fw-bold);
  text-align: center;
}

h3 {
  font-family: var(--ff-poppins);
  font-size: 0.985em;
  text-align: center;
}

p {
  font-size: 0.89em;
  color: var(--Very-Dark-Cyan);
  text-align: center;
  line-height: 1.5em;
}

.feature-p {
  font-size: 0.78em;
  line-height: 1.48em;
  color: var(--Grayish-Blue);
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* GENERAL STYLES */

.head-main-container,
.feature-container {
  max-width: 20.83em;
  /* 375px */
  margin: auto;
}

.pink-button {
  font-family: var(--ff-open-sans);
  font-weight: var(--fw-xtr-bold);

  font-size: 0.66em;
  color: var(--Very-Pale-Cyan);
  padding: 1em 5em;
  border-radius: 3em;
  border: none;
  box-shadow: 0.2em 0.2em 0.3em var(--Pink);
  background-color: var(--Pink);
}

.pink-button:hover {
  background-color: hsl(321, 80%, 80%);
  box-shadow: none;
}

/* HEADER-MAIN CONTAINER */

.head-main-container {
  background-image: url(./images/bg-hero-mobile.svg);
  background-color: var(--Very-Pale-Cyan);
}

/* HEADER */

header {
  padding: 1.23em 0.9em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 30%;
  height: 100%;
}

header button {
  font-family: var(--ff-open-sans);
  font-size: 0.58em;
  font-weight: var(--fw-xtr-bold);
  padding: 0.5em 2.1em;
  border-radius: 3em;
  border: none;
  box-shadow: 0.1em 0.1em 0.4em var(--Grayish-Blue);
  background-color: white;
}

header button:hover {
  color: var(--Grayish-Blue);
}

/* MAIN */

main {
  padding: 3.3em 1.9em 1.7em;
}

/* HERO-CONTENT */

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  font-weight: var(--fw-bold);
}

.hero-content p {
  margin-top: 1.3em;
  margin-bottom: 2em;
}

/* HERO-IMAGE */

.hero-image img {
  width: 100%;
  display: block;
  margin: 2.98em auto 0;
}

/* FEATURE-CONTAINER */

.feature-container {
  max-width: 20.83em;
  /* 375px */
  margin: 0 auto;
  padding-bottom: 12.8em;

  position: relative;
}

.feature {
  margin: 0 1.05em;
  border-radius: 0.7em;
  box-shadow: 0 0 0.5em #e8eaeb;
  border: none;

  display: flex;
  flex-direction: column;
}

.feature img {
  display: block;
  margin: auto;
}

/* GROW TOGETHER */

.grow-together {
  margin-top: 3.3em;
  padding-top: 3em;
  padding-bottom: 1.87em;
}

.grow-together img {
  width: 70%;
}

.grow-together h2 {
  margin-top: 2.858em;
  margin-bottom: 0.75em;
}

/* FLOWING CONVERSATIONS */

.flowing-conversations {
  margin-top: 2.22em;
  padding-top: 3.7em;
  padding-bottom: 2.98em;
}

.flowing-conversations img {
  width: 73%;
}

.flowing-conversations h2 {
  margin-top: 3.35em;
  margin-bottom: 0.74em;
}

.flowing-conversations p {
  padding-left: 2.8em;
  padding-right: 2.8em;
}

/* YOUR USERS */

.your-users {
  margin-top: 2.3em;
  padding-top: 3.4em;
  padding-bottom: 1.8em;
}

.your-users img {
  width: 73%;
}

.your-users h2 {
  margin-top: 3.05em;
  margin-bottom: 0.7em;
}

.your-users p {
  padding-left: 3.4em;
  padding-right: 3.4em;
  line-height: 1.498em;
}

/* CALL-TO-ACTION */

.call-to-action {
  background-color: white;
  border-radius: 0.6em;
  box-shadow: 0 0 0.5em #e8eaeb;
  width: 19.5em;
  padding: 2.48em 0 2.25em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 98.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.call-to-action button {
  font-family: var(--ff-open-sans);
  font-weight: var(--fw-xtr-bold);

  font-size: 0.55em;
  color: var(--Very-Pale-Cyan);
  margin-top: 2.45em;
  margin-left: 7.7em;
  margin-right: 7.7em;
  padding: 1.3em 1em;
  border-radius: 3em;
  border: none;
  box-shadow: 0.1em 0.5em 0.4em var(--Grayish-Blue);
  background-color: var(--Pink);
}

/* FOOTER */

footer {
  max-width: 20.83em;
  /* 375px */
  margin: auto;
  padding-top: 7.6em;
  padding-left: 0.85em;
  padding-right: 0.85em;
  padding-bottom: 2.6em;
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Cyan);
}

footer p {
    text-align: left;
    padding-left: 1.1em;
    padding-right: 0.7em;
    color: var(--Very-Pale-Cyan);
}

footer #huddle {
  width: 47%;
}

/* FOOTER-CONTAINER */

.contact-info {
  margin-top: 0.9em;

  display: flex;
  flex-direction: column;
  gap: 1.12em;
}

.location,
.telephone,
.email {
  display: flex;
  align-items: center;
}

.location img {
  padding-top: 0.3em;
  padding-right: 0.4em;
  align-self: flex-start;
}

.telephone img {
  padding-right: 0.1em;
}

/* NAVIGATION */

.navigation {
  margin-top: 3.05em;
  margin-bottom: 3.05em;
}

.navigation,
.list-1,
.list-2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.navigation li:hover {
  text-decoration: underline;
}

/* SOCIAL-MEDIA */

.social-media {
  display: flex;
  justify-content: center;
  gap: 0.63em;
}

.fa-brands {
  border: 0.08em solid var(--Very-Pale-Cyan);
  border-radius: 50%;
}

.fa-brands:hover {
  color: var(--Pink);
  border-color: var(--Pink);
}

.fa-facebook-f {
  font-size: 0.85em;
  padding: 0.46em 0.65em;
}

.fa-twitter {
  font-size: 0.8em;
  padding: 0.52em;
  border-width: 0.1em;
}

.fa-instagram {
  font-size: 0.9em;
  padding: 0.4em 0.5em;
}

/* COPYRIGHT */

.copyright {
  font-family: var(--ff-poppins);
  font-weight: 400;
  font-size: 0.61em;
  text-align: center;
  margin-top: 1.95em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 374px) {
  .head-main-containercontainer, .feature-container, .call-to-action, footer {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  h1,
  h2,
  h3,
  p {
    text-align: left;
  }

  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.55em;
  }

  h3 {
    font-size: 1.75em;
  }

  p {
    font-size: 1em;
  }

  .feature-p {
    font-size: 1em;
  }

  /* GENERAL STYLES */

  /* HEADER-MAIN CONTAINER */

  .head-main-container {
    max-width: 80em;
    /* 1440px */
    background-image: url(./images/bg-hero-desktop.svg);

    padding-top: 2.7em;
    padding-left: 4.4em;
    padding-right: 4.4em;
    padding-bottom: 3.6em;
  }

  /* HEADER */

  header {
    padding: 0;
  }

  header img {
    width: 15.5%;
    display: block;
  }

  header button {
    font-size: 0.8em;
    padding: 0.95em 4.4em;
  }

  /* MAIN */

  main {
    margin-top: 3.6em;
    padding: 0;
    display: flex;
  }

  /* HERO-CONTENT */

  .hero-content {
    padding: 0 2em 0 0;
    align-items: flex-start;
    flex-basis: 45.5%;
    align-self: center;
  }

  .hero-content h1 {
    margin-top: 0.4em;
    line-height: 1.45em;
  }

  .hero-content p {
    margin-top: 1.48em;
    margin-bottom: 1.8em;
  }

  .hero-content button {
    font-size: 0.8em;
    padding: 1.1em 4.5em;
  }

  /* HERO-IMAGE */

  .hero-image {
    flex-basis: 54.2%;
  }

  .hero-image img {
    margin-top: 0;
  }

  /* FEATURE-CONTAINER */

  .feature-container {
    max-width: 80em;
    padding-top: 8.9em;
    padding-bottom: 16.8em;
    padding-left: 4.6em;
    padding-right: 4.6em;
  }

  .feature {
    margin-bottom: 2.2em;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 24.5em;
   
    flex-direction: row;
    align-items: center;
  }

  /* GROW TOGETHER */

  .grow-together {
    margin-top: 0;
    flex-direction: row-reverse;
  }

  .feature-content h2 {
    margin-top: 0em;
    margin-bottom: 0.44em;
    margin-left: 4.35em;
  }

  .feature-p {
    padding-left: 6.75em;
    padding-right: 5em;
  }

  .grow-together img {
    width: 82%;
    margin-left: 3.3em;
  }

  /* FLOWING CONVERSATIONS */

  .flowing-conversations img {
    width: 66%;
    margin-left: 7em;
  }

  .flowing-conversations h2 {
    margin-left: 2.66em;
  }

  .flowing-conversations p {
    padding-left: 4.2em;
    padding-right: 1em;
  }

  /* YOURS USERS */

  .your-users {
    flex-direction: row-reverse;
  }

  .your-users img {
    width: 78%;
    margin-left: 5.25em;
  }

  .your-users p {
    padding-left: 6.75em;
    padding-right: 4.5em;
  }

  /* CALL-TO-ACTION */

  .call-to-action {
    width: 44.4em;
    padding: 2.5em 0 2.9em;
  }

  .call-to-action h3 {
    text-align: center;
    margin-top: 0.68em;
  }

  .call-to-action > button {
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-xtr-bold);

    font-size: 1.1em;
    color: var(--Very-Pale-Cyan);
    margin-top: 1.76em;
    margin-left: 10.2em;
    margin-right: 10.2em;
    padding: 1.3em 1em;
    border-radius: 3em;
    border: none;
    box-shadow: 0.2em 0.2em 0.4em var(--Grayish-Blue);
    background-color: var(--Pink);
  }

  /* FOOTER */

  footer {
    max-width: 80em;
    padding-top: 10.6em;
    padding-left: 6.5em;
    padding-right: 10.3em;
    padding-bottom: 2.6em;
  }

  footer #huddle {
    width: 13.3%;
  }

  /* FOOTER CONTAINER */

  .footer-container {
    margin-top: 2em;
    display: flex;
    gap: 6.3em;
  }

  .contact-info {
    font-size: 0.78em;
    margin-top: 0;
    padding-right: 1em;
    flex-basis: 35%;
  }

  .location {
    margin-top: -0.1em;
  }

  /* NAVIGATION */

  .navigation {
    font-size: 0.78em;
    margin-top: 0;
    flex-direction: row;
    gap: 10.2em;
  }

  .social-media {
    margin-left: 3.5em;
  }

  /* COPYRIGHT */

  .copyright {
    margin-right: -12em;
    text-align: right;
  }
}
